body {
    font-family: Arial, sans-serif; 
    background-color: #e1ecf7; 
    margin: 20px; 
    margin: auto;
}

table {
    width: 50%; 
    border-collapse: collapse; 
    margin: auto;
    text-align: center;
    border-radius: 2%;

}

th, td {
    padding: 10px;
    text-align: center; 
    border: 1px solid;
}

th {
    padding: 20px;
    background-color: #72b0f1;
    color: black; 
}

.center{
    text-align: center;
}